  <!--<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
    >
    <label for="name">Name:</label>
    <input type="text" id="name" name="user[name]"><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"><br>
    <input type="submit" value="Submit">
  </form>
  -->
  <% @user.errors.full_messages.each do |message| %>
    <div style="color: red;"><%= message %></div>
  <% end %>
  <%= form_with model: @user do |form| %>
    <%= form.label :name, "Input your user name here:" %>
    <%= form.text_field :name, value: "John Smith" %><br>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, placeholder: "example@example.com" %><br>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password %><br>
    <%= form.submit "Submit" %>
  <% end %>
